ul{
    list-style-type: circle;

}
ul li{
    border: 1px solid black;
    list-style-position: inside;
}
/* ul li{
    background-image: url('yo.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 20px;
    border: 1px solid black;
} */